---
import HeroSection from "../components/HeroSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import TopBar from "../components/TopBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mx-auto w-full flex flex-col grow">
    <TopBar />
    <HeroSection />
    <ProjectsSection />
  </div>
</Layout>
