---
const version = "1.0.0";
---

<div class="flex flex-col -mt-6">
  <div class="flex justify-between items-center">
    <div class="size-6 -z-10 bg-black "><div class="app-bg-color rounded-bl-2xl size-full"></div></div>
    <div class="size-6 -z-10 bg-black "><div class="app-bg-color rounded-br-2xl size-full"></div></div>
  </div>
  <footer role="contentinfo" class="bg-black text-white font-thin tracking-wider p-4 flex justify-between items-center">
    <span class="flex items-center gap-2">© 2025 Tonegabes - Built with <i class="ph-light ph-heart text-primary"></i> Love and <i class="ph-light ph-coffee-bean text-primary"></i> Coffee.</span>
    <span>Version {version}</span>
  </footer>
</div>
