---
import SocialButton from "./SocialButton.astro";

const socials = [
  {
    href: "https://www.linkedin.com/in/tonegabes/",
    icon: "ph-linkedin-logo",
    text: "LinkedIn",
  },
  {
    href: "https://www.behance.net/tonegabes",
    icon: "ph-behance-logo",
    text: "Behance",
  },
  {
    href: "https://www.github.com/tonegabes",
    icon: "ph-github-logo",
    text: "GitHub",
  },
  {
    href: "https://www.twitter.com/tonegabes",
    icon: "ph-twitter-logo",
    text: "Twitter",
  },
  {
    href: "https://www.instagram.com/tonegabes",
    icon: "ph-instagram-logo",
    text: "Instagram",
  },
];
---

<nav class="flex gap-2" aria-label="Redes sociais">
  {
    socials.map((social) => (
      <SocialButton href={social.href} icon={social.icon} text={social.text} />
    ))
  }
</nav>
