<nav class="flex gap-2 mt-10">
  <a
    href="https://www.linkedin.com/in/tonegabes/"
    class="border border-gray-400 px-4 py-2 hover:bg-gray-900 hover:text-gray-50 rounded-md transition-all duration-300"
    >LinkedIn</a
  >
  <a
    href="https://www.behance.net/tonegabes"
    class="border border-gray-400 px-4 py-2 hover:bg-gray-900 hover:text-gray-50 rounded-md transition-all duration-300"
    >Behance</a
  >
  <a
    href="https://www.github.com/tonegabes"
    class="border border-gray-400 px-4 py-2 hover:bg-gray-900 hover:text-gray-50 rounded-md transition-all duration-300"
    >GitHub</a
  >
  <a
    href="https://www.twitter.com/tonegabes"
    class="border border-gray-400 px-4 py-2 hover:bg-gray-900 hover:text-gray-50 rounded-md transition-all duration-300"
    >Twitter</a
  >
  <a
    href="https://www.instagram.com/tonegabes"
    class="border border-gray-400 px-4 py-2 hover:bg-gray-900 hover:text-gray-50 rounded-md transition-all duration-300"
    >Instagram</a
  >
</nav>
