---
import { Image } from "astro:assets";
import HeroImage from "../assets/heroimage.jpg";
import HeroSocials from "./HeroSocials.astro";
---

<section id="about" class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-4 ">
  <div class="flex flex-col gap-2 w-full col-span-2">
    <div class="section-bg-color flex grow app-rounded-default group/hero">
      <div class="flex flex-col gap-4 m-auto max-w-2xl">
        <p class="text-4xl font-bold">
          I'm
            <span class="pl-2 transition-all duration-300 relative">
              <span class="group-hover/hero:text-primary relative z-10">Tone Gabes</span>
              <span class="absolute inset-0 bg-black w-0 group-hover/hero:w-full transition-all duration-300 z-0"></span>
            </span>
          . I build interactive platforms with Laravel and JavaScript
        </p>
        <p class="text-gray-700 text-lg mt-6">
          Full‑stack developer with 10+ years building digital platforms end‑to‑end. I focus on clean architecture, delightful interfaces, and content that delivers impact.
        </p>
      </div>
    </div>

    <HeroSocials />
  </div>

  <div class="aspect-square w-full">
    <Image
      src={HeroImage}
      alt="Tone Gabes headshot"
      class="w-full h-full object-cover app-rounded-default"
      loading="eager"
    />
  </div>
</section>
