---
import Middot from "./Middot.astro";
---

<div
  class="flex justify-between items-center px-10 py-4 border-b border-gray-200/50"
>
  <span class="font-bold font-mono text-2xl uppercase">TG</span>
  <nav class="flex gap-4 text-gray-500 text-sm lowercase">
    <a
      href="/"
      class="hover:text-black hover:underline transition-colors duration-300"
      >home</a
    >
    <Middot />
    <a
      href="/about"
      class="hover:text-black hover:underline transition-colors duration-300"
      >about</a
    >
    <Middot />
    <a
      href="/contact"
      class="hover:text-black hover:underline transition-colors duration-300"
      >contact</a
    >
    <Middot />
    <a
      href="/projects"
      class="hover:text-black hover:underline transition-colors duration-300"
      >projects</a
    >
    <Middot />
    <a
      href="/blog"
      class="hover:text-black hover:underline transition-colors duration-300"
      >blog</a
    >
  </nav>
</div>
